<head>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="http://code.highcharts.com/stock/highstock.js"></script>

  <script src="http://code.highcharts.com/modules/exporting.js"></script>




  <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css"/>
  <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="../static/dashboard/dashboard.css">
  <script src="../static/dashboard/dashboard.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/datetimepicker-master/jquery.datetimepicker.css"/ >
  <script src="../static/datetimepicker-master/jquery.datetimepicker.js"></script>
  <link rel="import" href="../static/bower_components/paper-button/paper-button.html">

  <link rel="import" href="../static/bower_components/polymer/polymer.html">
  <link rel="import" href="../static/filterOptions/mustFilter.html">
  <link rel="import" href="../static/filterOptions/mustNotFilter.html">
  <link rel="import" href="../static/filterOptions/shouldFilter.html">
  <link rel="import" href="../static/filterOptions/filterModal.html">

  <link rel="import" href="../static/header/header.html">
  <link rel="import" href="../static/sidebar/sidebar.html">
  <link rel="import" href="../static/graphs/graphsElement.html">


</head>

<body>
  <!-- container section start -->
  <section id="dashboardContainer" class="">

    <!--header start-->
    <global-header></global-header>
    <!--header end-->

    <!--sidebar start-->
    <global-sidebar></global-sidebar>
    <!--sidebar end-->
    <section id = "main-content">
      <section class="wrapper">
        <div id = "mainContentHeader">
          <div id = "toggleSideBarWrap">
            <div style = "float: right; padding-top: 10px; padding-right: 10px; color: white">GRAPHS</div>
            <span id = "toggleSideBar" class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
          </div>
        </div>

        <div style = "padding-top: 20px"></div>

        <div style = "background-color: white; height : 450px; margin-bottom : 15px" class="state col-lg-12">
                  <filter-modal unique-id = "defaultGraph1" bucket-data = "bytes_sent" bucket-data-analyze="avg" granularity = "day" graph-type="line"></filter-modal>
        </div>



        <div style = "background-color: white; height : 450px; margin-bottom  : 20px; margin-right: 0.5%; width : 49.5%" class="col-md-6">
                <filter-modal unique-id = "defaultGraph2" bucket-data = "body_bytes_sent" bucket-data-analyze="avg" granularity = "day" graph-type="line"></filter-modal>
        </div>
        <div style = "background-color: white; height : 450px; margin-bottom  : 20px; margin-left: 0.5%; width : 49.5%" class="col-md-6">
              <filter-modal unique-id = "defaultGraph3" bucket-data = "bytes_received" bucket-data-analyze="avg" granularity = "day" graph-type="line"></filter-modal>
        </div>











      </section>
    </section>
  </section>
</body>
