<head>

  <script src="../static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css"/>
  <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>



  <link rel="stylesheet" href="../static/login/login.css">
  <link rel="import" href="../static/login/login.html">




</head>

<body>
  <!-- <div class="login">
  	<h1>User Authentication</h1>

      	<input type="text" id="username" placeholder="Username" required="required" />
        <input type="password" id="password" placeholder="Password" required="required" />
        <button id = "loginButton" class="btn btn-primary btn-block btn-large">Login</button>

  </div> -->

  <global-login></global-login>


</body>
